@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #eb6fcc, #7edfb5);	
    display: flex;
    font-size: 120%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;        
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(50deg, #8ee3c2, #a9e955);		
	position: relative;	
	height: 600px;
	width: 500px;
    border-radius: 0% 5% 0% 5%;	
	box-shadow: 0px 0px 10px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    margin: -50px 35px;
    line-height: 50px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 550px;
	width: 450px;
	background: #deb544;	
	top: -35px;
	right: 100px;	
	border-radius: 0 50px 50px 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #dfaed4;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(50deg, #26dfdf, #053455);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #d79b8d;	
	top: 450px;
	right: 50px;	
	border-radius: 60px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

input.search-bar {
    background: #fff;
    font-family: inherit;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid mediumvioletred;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 300px;
	color: mediumvioletred;
	box-shadow: 0px 2px 2px mediumvioletred;
}

.search__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid mediumvioletred;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 140px;
	color: mediumvioletred;
	box-shadow: 0px 2px 2px mediumvioletred;
	cursor: pointer;
	transition: .2s;
}

.search__submit:active,
.search__submit:focus,
.search__submit:hover {
	border-color: darkgray;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #42e710;
}

.screen__content {
    color: mediumvioletred;
}

.flex {
    display: flex;
    align-items: center;
}

h1.city {
    text-transform: uppercase;
    color: rgb(152, 239, 251);
}

h2 {
    color: rgb(152, 239, 251);
    margin-top: 20px;
}

.description {
    text-transform: capitalize;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: violet;
    position: absolute;
    top: 0;
    left: 20px;
}